<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>{% block title %}{% endblock %}</title>

    <script async defer src="https://kit.fontawesome.com/cd91c1afff.js"></script>

{#    {{ encore_entry_link_tags('app') }}#}

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<section id="{{ app.request.attributes.get("_route") }}" class="body">
    {% block body %}
    {% endblock %}
</section>

<footer id="footer">
</footer>

<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

{% block javascripts %}
{% endblock %}

</body>
</html>
